.head{
    
    height: 50px;
    background-color:black;
    padding-left: 10px;
    line-height: 48px;
    color: white;
}
.header{
    background-color:#16a596;
    padding:50px;
    margin-bottom: 40px;
    text-align:center;
    font-size:20px;
    color:white
}
.main.container {
    max-width: 960px;
    min-width: 600px;
    margin: auto;
}